/* GLOBAL------------
COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/

body {
    background-color:while;
     /* Optional background color */
    background-image: url('project-branding-1000px.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
/* GLOBAL STYLES
----------------------*/
a{
    color:green
}
a:hover{
    color:#bcaa96
}
.btn{
    background: beige;
    color: black;
    text-decoration: none;
}
button{
    background:#3c8453;
    color:a\#bcaa96
}
div{
    background-color: aqua;
}
/*HOME------------------*/
.home{
    background-image: url;
}
.content-wrapper{
    margin: 0;
    width: 90px;
    padding: 90px;
}
.home .content-wrapper{
    background: rgb(255 255 255 / 0.9);
}

/*PROFILE------------------*/


/*EDUCATION------------------*/


/* FOOTER
------------------------------------*/
footer {
    background: #222;
    color: #d3d4d6;
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
}
.socials img:hover {
    opacity: 0.5;
}

@media screen and (min-width: 860px){
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (max-width: 859px){
    footer {
        text-align: center;
        padding: 10px;
    }

}



