html{
    box-sizing:border-box ;
  }
  
  *,*::before,*::after{
    box-sizing: inherit;
  }
  
  .social{
    list-style-type: none;
  }
  .social img{
    width: 32px;
  }
  .social li{
    display: inline;
  }  
body {
    background-color: #d3dfdf; /* Optional background color */
    background-image: url('bg-home-office-city.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  
.home .content-wrapper{
    background:rgba(245, 216, 216, 0.8) ;
  }
  
  /*RESUMR---------------*/
  
  /* FOOTER
------------------------------------*/
footer {
    background: #222;
    color: #d3d4d6;
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
}
.socials img:hover {
    opacity: 0.5;
}

@media screen and (min-width: 860px){
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (max-width: 859px){
    footer {
        text-align: center;
        padding: 10px;
    }

}
